---
import "./global.css";
import Component from "../components/Component.astro";
---

<h1>Hey!!</h1>


<a href="/second">Secon</a>

<Component />

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
