---
import Component from "../components/Component.astro";
import "./global.css";
---

<h1>Second!!</h1>


<a href="/first">First</a>

<Component />

<style>
  h1 {
    font-weight: 800;
    margin: 0;
  }
</style>
